@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Noto Sans JP", sans-serif;
}

:root {
  --body-color: #eae8f6;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  --table-shadow-color: rgba(0, 0, 0, 0.15);

  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-03);
}

body.dark {
  --table-shadow-color: rgba(84, 84, 84, 0.15);
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/*===== CSS =====*/
.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  white-space: nowrap; /* Предотвращает перенос текста на новую строку */
  overflow: hidden; /* Скрывает текст, выходящий за границы */
  text-overflow: ellipsis; /* Добавляет многоточие в конце обрезанного текста */
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

/*===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
}

.sidebar.close {
  width: 63px;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar header {
  position: relative;
}

.sidebar .image-text img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}
.header-text .name {
  font-weight: 600;
}

/* Состояние заголовка после закрытия панели навигации */
.sidebar .text {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Состояние заголовка после открытия панели навигации */
.sidebar:not(.close) .header-text {
  opacity: 1;
}

/* Состояние текста после открытия панели навигации */

.sidebar:not(.close) .text {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

/* Основной стиль для кнопки переключения */
.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background: #695cfe;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
  transition: transform 0.3s ease; /* Плавный переход для анимации */
}
/* Стиль для поворота иконки при открытом `aside` */
.sidebar:not(.close) header .toggle {
  transform: translateY(-50%) rotate(180deg); /* Добавляет поворот на 180 градусов */
}
.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

.sidebar .menu-bar {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}
.menu-bar .menu-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar .mode i {
  position: absolute;
}

.menu-bar .mode i.sun {
  opacity: 0;
}

.menu-bar .mode .toggle-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 23px;
  background: var(--toggle-color);
}

.sidebar ul {
  padding-left: 0;
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: var(--sidebar-color);
  transition: var(--tran-03);
}
body.dark .switch::before {
  left: 25px;
}

/* селектор будет скрывать .toggle-switch только тогда, когда у aside есть класс close. */
.sidebar.close .toggle-switch {
  display: none;
}

/* ===== main ===== */

.main-content {
  transition: margin-left 0.5s;
  margin: 12px 25px 0 300px;
  height: 100%;
}

.sidebar.close + .main-content {
  margin-left: 120px; /* Смещение при закрытом sidebar */
}

.main-content.close + .sidebar.close {
  margin: 12px 0 0 120px;
  transition: margin-left var(--tran-03);
}

/* ===== table css ===== */

.content-table {
  border-collapse: collapse;
  width: 100%;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px var(--table-shadow-color);
}

.content-table thead tr {
  background-color: var(--primary-color);
  color: #f6f5ff;
  text-align: center;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 12px;
}
.content-table tbody td {
  text-align: center;
  color: var(--text-color);
}

.content-table tbody tr {
  border-bottom: 1px solid var(--primary-color-light);
}

.content-table tbody tr:nth-of-type(even) {
  background-color: var(--primary-color-light);
}

.content-table .table-icon {
  position: relative;
  margin-top: 4px;
  font-size: 1.3em;
}
