{% extends 'main/layout.html' %}

{% block title %} Главная страница {% endblock %}

{% block content %}
<div class="features">
<!--<h1>Главная страница</h1>-->

<h2> </h2>
<table>
  <thead>
    <tr>
      <th>Installation Number</th>
      <th>Date</th>
      <th>Time</th>
      <th>Generated Power</th>
      <th>Consumed Power</th>
      <th>Vertical Position</th>
      <th>Horizontal Position</th>
    </tr>
  </thead>
  <tbody>
    {% for reading in readings %}
      <tr>
        <td>{{ reading.installation_number }}</td>
        <td>{{ reading.date }}</td>
        <td>{{ reading.time }}</td>
        <td>{{ reading.generated_power }}</td>
        <td>{{ reading.consumed_power }}</td>
        <td>{{ reading.vertical_position }}</td>
        <td>{{ reading.horizontal_position }}</td>
        <td><a href="{% url 'reading_update' reading.pk %}" class="btn btn-warning">Изменить</a></td>
        <td><a href="{% url 'reading_delete' reading.pk %}" class="btn btn-danger">Удалить</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

  <a href="{% url 'reading_create' %}" class="btn btn-primary">Добавить запись</a>
{% endblock %}

</div>