{% extends 'main/layout.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'main/css/main.css' %}">

{% block content %}
  <form method="post" class="inputform">
    {% csrf_token %}
    <h5>Добавить новую запись</h5>
    <input type="hidden" name="csrfmiddlewaretoken" value="xXHfDFYxwoVph032NfnEC1sY3Y0b2pElWuj4tXcLsXOeANLpYDQHh4mivIG2TbFI">
    <p>
      <label for="id_installation_number">Installation number:</label>
      <input type="number" name="installation_number" required id="id_installation_number" placeholder="1">
    </p>

    <p>
      <label for="id_date">Date:</label>
      <input type="text" name="date" required id="id_date" placeholder="01.01.1900">
    </p>

    <p>
      <label for="id_time">Time:</label>
      <input type="text" name="time" required id="id_time" placeholder="19:00">
    </p>

    <p>
      <label for="id_generated_power">Generated power:</label>
      <input type="number" name="generated_power" step="any" required id="id_generated_power" placeholder="0.0">
    </p>

    <p>
      <label for="id_consumed_power">Consumed power:</label>
      <input type="number" name="consumed_power" step="any" required id="id_consumed_power" placeholder="0.0">
    </p>

    <p>
      <label for="id_vertical_position">Vertical position:</label>
      <input type="number" name="vertical_position" required id="id_vertical_position" placeholder="0.0">
    </p>

    <p>
      <label for="id_horizontal_position">Horizontal position:</label>
      <input type="number" name="horizontal_position" required id="id_horizontal_position" placeholder="0.0">
    </p>

    <button type="submit" class="btn btn-primary">Сохранить</button>
  </form>
{% endblock %}
