{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="{% static 'css/aside.css'%}">

    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">

</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{% static 'img/logo.jpg' %}" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">Солнечные панели</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{% url 'home' %}">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Дашборд</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'table' %}">
                            <i class='bx bx-table icon'></i>
                            <span class="text nav-text">Таблицы</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'panels' %}">
                            <i class='bx bx-grid icon'></i>
                            <span class="text nav-text">Панели</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="{% static 'js/main.js' %}"></script>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
