{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/main/css/dashboard.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="chart-container">
    <canvas id="characteristicsChart" width="20" height="20" style="height: 600; width: 600;"></canvas>
</div>

<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Поворот по горизонтали</th>
                <th>Поворот по вертикали</th>
                <th>Потребляемая мощность</th>
                <th>Вырабатываемая мощность</th>
                <th>Дата</th>
                <th>Время</th>
            </tr>
        </thead>
        <tbody>
            {% for char in characteristics %}
                <tr>
                    <td>{{char.solar_panel}}</td>
                    <td>{{char.horizontal_position}}</td>
                    <td>{{char.vertical_position}}</td>
                    <td>{{char.consumed_power}}</td>
                    <td>{{char.generated_power}}</td>
                    <td>{{char.date}}</td>
                    <td>{{char.time}}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">Нет данных</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class='panel-table-container'>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>ip</th>
                <th>порт</th>
            </tr>
        </thead>
        <tbody>
            {% for panel in panels %}
                <tr>
                    <td>{{ panel.installation_number }}</td>
                    <td>{{ panel.ip_address }}</td>
                    <td>{{ panel.port }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Нет данных</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
var ctx = document.getElementById('characteristicsChart').getContext('2d');
    var dates = JSON.parse('{{ dates|safe }}');
    var generatedPower = JSON.parse('{{ generated_power|safe }}');
    var consumedPower = JSON.parse('{{ consumed_power|safe }}');

    // Render Chart.js Line Chart
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [
                {
                    label: 'Generated Power',
                    data: generatedPower,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Consumed Power',
                    data: consumedPower,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>


{% endblock %}