{% extends "base.html" %} 
{% block content %}
<div class="panel-line">
  <div class="panel-info">
    <div class="panel-block">
      <h3>ID панели</h3>
      <p>{{ panel.id }}</p>
      <p>{{ panel.ip_address }}</p>
      <p>{{ panel.port }}</p>
    </div>
    <div class="panel-block">
      <h3>Актуальные данные</h3>
      <p>Горизонтальное положение: {{ char.horizontal_position}}°</p>
      <p>Вертикальное положение: {{ char.vertical_position }}°</p>
      <p>Потребленная мощность: {{ char.consumed_power|floatformat:2 }} w</p>
      <p>Выработанная мощность: {{ char.generated_power|floatformat:2 }} w</p>
      <p>Дата обновления: {{ char.date }}</p>
      <p>Время обновления: {{ char.time }}</p>
    </div>
    <div class="panel-block">
      <h3>Погода</h3>
      <p>Погода: {{ weather_data.weather.0.description }}</p>
      <p>Температура: {{ weather_data.main.temp }} °C</p>
      {% comment %} todo: градусы направления ветра преобразовать. {% endcomment %}
      <p>Ветер: {{ weather_data.wind.deg }}°, {{ weather_data.wind.speed }} м/с</p>
      <p>Облачность: {{ weather_data.clouds.all }} %</p>
    </div>
    <!-- Добавьте другие блоки по аналогии -->
  </div>
</div>

<div class="panel-line" >
  <div class="panel-info">
    <div class="panel-block">
      <h3>Управление</h3>
      <p>
        <!-- Контейнер для управляющих кнопок -->
      </p>

      <div class="control-buttons">
        <button class="control-button" id="btnUp">Up</button>
        <button class="control-button" id="btnDown">Down</button>
        <button class="control-button" id="btnLeft">Left</button>
        <button class="control-button" id="btnRight">Right</button>
        <button class="control-button" id="btnReset">Reset</button>
      </div>
    </div>
    <div class="panel-block">
      <h3>Каг</h3>
      <p>...</p>
    </div>
    <div class="panel-block">
      <h3>Крико</h3>
      <p></p>
    </div>
  </div>

  <script>
            document.addEventListener('DOMContentLoaded', function() {
              // Инициализация кнопок как неактивных
              console.log({{ panel.id }});
              setActiveClient({{ panel.id }});
            });


            function setActiveClient(clientId) {
              $.ajax({
                url: "/set_active_client/",
                type: "POST",
                data: { client_id: clientId },
                success: function (response) {
                  console.log("Активный клиент установлен: " + clientId);
                },
                error: function () {
                  console.error("Ошибка при установке активного клиента");
                },
              });
            }

          $(".control-button").click(function () {
            var command = $(this).text().toLowerCase();
            currentCommand = command;
            if (
              command === "up" ||
              command === "down" ||
              command === "left" ||
              command === "right"
            ) {
              sendMessageToClient(command);
            } else if (command === "reset") {
              sendMessageToClient(command);
            }
          });


    function sendMessageToClient(message) {
    const form = createDegreesModal();
    if (!form) {
    console.error("Не удалось создать форму добавления");
    return;
    }
    // Показ модального окна
    showModal();
    // Добавление обработчика события 'submit' для формы
    form.addEventListener("submit", function (e) {
      e.preventDefault();
      const formData = new FormData(this);
      const data = Object.fromEntries(formData.entries());
              $.ajax({
                url: "/send_message/",
                type: "POST",
                data: { message: message + " " + data.degrees },
                success: function (response) {
                  alert("Сообщение отправлено: " + message + " " + data.degrees); // todo: вывод например в заголовок блока
                },
                error: function () {
                  alert("Ошибка при отправке сообщения");
                },
              });
            }
    )}

    function createDegreesModal() {
        let modalWrapper = document.getElementById("modalWrapper");
        if (modalWrapper) {
        modalWrapper.remove();
      }
          modalWrapper = document.createElement("div");
          modalWrapper.id = "modalWrapper";
          document.body.appendChild(modalWrapper);

          let formContainer = document.createElement("div");
          formContainer.id = "addModal";

        // Создание формы
        const form = document.createElement("form");
        form.id = "addForm";
        // Динамическое создание полей для редактирования
          const label = document.createElement("label");
          label.htmlFor = `addDegrees`;
          label.textContent = `Градусы`;


          const input = document.createElement("input");
          input.type = "numeric";
          input.id = `addDegrees`;
          input.name = 'degrees';
          form.appendChild(label);
          form.appendChild(input);
          form.appendChild(document.createElement("br"));


        // Добавление кнопки отправки
        const submitButton = document.createElement("button");
        submitButton.setAttribute("class", "button-glass");
        submitButton.type = "submit";
        submitButton.textContent = "Сохранить изменения";
        form.appendChild(submitButton);

        // Добавление кнопки отмены
        const cancelButton = document.createElement("button");
        cancelButton.setAttribute("class", "close-button");
        cancelButton.type = "button"; // Установите тип button, чтобы предотвратить отправку формы
        cancelButton.textContent = "Отмена";
        cancelButton.onclick = function () {
          closeModal(); // Закрытие модального окна
        };
        form.appendChild(cancelButton);

        formContainer.appendChild(form);
        modalWrapper.appendChild(formContainer);

        return form;
      }

      // показ формы редактирования
      function showModal() {
        const modal = document.getElementById("modalWrapper");
        if (modal) {
          modal.style.display = "flex";
          // modal.className='editModal';
          console.log(modal);
          setTimeout(() => {
            modal.classList.add("show");
          }, 10);
        }
      }
      // закрытие модальной формы
      function closeModal() {
        const modalWrapper = document.getElementById("modalWrapper");
        if (modalWrapper) {
          modalWrapper.classList.remove("show");
          setTimeout(() => {
            modalWrapper.style.display = "none";
          }, 300); // Задержка для завершения анимации прежде чем скрыть модальное окно
        }
      }
  </script>

  {% endblock %}
</div>
