{% extends "base.html" %} 
{% block title %}Управление панелями{% endblock %}

{%block content %}
<div class="table-container">
  <table class="content-table">
    <thead>
      <tr>
        <th>Номер установки</th>
        <th>IP адрес<i class="bx bx-chevron-down table-icon"></i></th>
        <th>Порт<i class="bx bx-chevron-down table-icon"></i></th>
        <th>Состояние<i class="bx bx-chevron-down table-icon"></i></th>
        <th>Управление</th>
      </tr>
    </thead>
    <tbody>
      {% for panel in panels %}
      <tr>
        <td>{{ panel.id }}</td>
        <td>{{ panel.ip_address }}</td>
        <td>{{ panel.port }}</td>
        <td>
          {% if panel.id|stringformat:"s" in connected_clients %}
      Подключен
    {% else %}
      Не подключен
    {% endif %}
        </td>
        <td>
           <button onclick="location.href='panel_detail?id={{ panel.id }}'">Управлять</button>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">Нет данных</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>



  <script>
    document.addEventListener("DOMContentLoaded", function() {
      let eventSource;
  
      function connectSSE() {
        eventSource = new EventSource("/events/stream");
  
        eventSource.onopen = function() {
          console.log("SSE connection opened");
        };
  
        eventSource.onerror = function() {
          console.log("SSE error, attempting to reconnect...");
          eventSource.close();
          setTimeout(connectSSE, 3000); // Переподключение через 3 секунды
        };
  
        eventSource.onmessage = function(event) {
          const data = JSON.parse(event.data);
          updateTable(data);
        };
      }
  
      function updateTable(data) {
        if (!data || !data.client_id || !data.header) {
          console.error("Invalid data received");
          return;
        }
  
        const rows = document.querySelectorAll(".content-table tbody tr");
        rows.forEach(row => {
          if (row.cells[0].textContent === data.client_id) {
            const statusCell = row.cells[3];
            switch(data.header) {
              case "connect":
                statusCell.textContent = "Подключен";
                break;
              case "disconnect":
                statusCell.textContent = "Не подключен";
                break;
              default:
                console.error("Unknown header type");
            }
          }
        });
      }
  
      connectSSE();
    });
  </script>
  
  {% endblock %}
</div>
