{% extends "base.html" %} 
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Управление солнечными установками</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/socket.css' %}">
    <link rel="stylesheet" href="{% static 'css/aside.css'%}">
</head>
<body>

    {% block content %}
    <div class="container">
        <h2>Test TCP Server</h2>
        <textarea id="memo" readonly></textarea>
        <button id="getClients">Получить список клиентов</button>
        <div class="client-list" id="clientList"></div> <!-- Контейнер для списка клиентов с чекбоксами -->
        <input type="text" id="message" placeholder="Сообщение">
        <button id="sendMessage">Отправить сообщение</button>
        <div id="response"></div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        function appendToMemo(text) {
            var $memo = $("#memo");
            $memo.val($memo.val() + text + "\n"); // Добавляем текст с новой строки
            $memo.scrollTop($memo[0].scrollHeight); // Прокручиваем вниз до последнего сообщения
        }
        
       function populateClientsList(clientsObj) {
    var $clientList = $('#clientList');
    $clientList.empty(); // Очищаем список, если в нем уже что-то есть

    Object.entries(clientsObj).forEach(function([clientId, clientDetails]) {
        var $item = $('<div class="client-list-item">');
        var $button = $('<button class="client-button">').text(clientDetails.join(" - ")).click(function() {
            // При нажатии кнопки устанавливаем активного клиента
            setActiveClient(clientId);
        });
        $item.append($button);
        $clientList.append($item);
    });
}


$("#getClients").click(function() {
    $.ajax({
        url: '/get_clients/',
        type: 'GET',
        success: function(response) {
            var clients;
            try {
                clients = typeof response === 'string' ? JSON.parse(response) : response;
            } catch (error) {
                console.error("Ошибка при разборе ответа сервера:", error);
                appendToMemo("Ошибка при разборе ответа сервера: " + error.message);
                return;
            }
            
            if(typeof clients === 'object' && clients !== null) {
                populateClientsList(clients); // Добавляем клиентов в список
                var formattedResponse = JSON.stringify(clients, null, 4);
                appendToMemo(formattedResponse); // Выводим в Memo
            } else {
                console.error("Ответ сервера не является объектом:", clients);
                appendToMemo("Ответ сервера не является объектом: " + JSON.stringify(clients));
            }
        },
        error: function() {
            appendToMemo("Ошибка при получении списка клиентов");
        }
    });
});



    function setActiveClient(clientId) {
    
    $.ajax({
        url: '/set_active_client/',
        type: 'POST',
        data: { "client_id": clientId },
        success: function(response) {
            appendToMemo("Активный клиент установлен: " + clientId);
        },
        error: function() {
            appendToMemo("Ошибка при установке активного клиента");
        }
    });
}

    $("#sendMessage").click(function() {
        var message = $("#message").val();
        $.ajax({
                url: '/send_message/',
                type: 'POST',
                data: { "message": message },
                success: function(response) {
                    appendToMemo(response.message); // Выводим в Memo
                },
                error: function() {
                    appendToMemo("Ошибка при отправке сообщения");
                }
            });
        });
    </script>
{% endblock %}
