{% extends "base.html" %}
{% load static %}
{% block title %}Таблица{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/aside.css' %}">
<div class="table-container">
    <table class ="content-table">
        <thead>
            <tr>
                <th>Номер установки</th>
                <th>Поворот по горизонтали<i class='bx bx-chevron-down table-icon'></i></th>
                <th>Поворот по вертикали<i class='bx bx-chevron-down table-icon'></i></th>
                <th>Потребляемая мощность<i class='bx bx-chevron-down table-icon'></i></th>
                <th>Вырабатываемая мощность<i class='bx bx-chevron-down table-icon'></i></th>
                <th>Дата<i class='bx bx-chevron-down table-icon'></i></th>
                <th>Время<i class='bx bx-chevron-down table-icon'></i></th>
            </tr>
        </thead>
        <tbody>
            {% for char in characteristics %}
                <tr>
                    <td>{{ char.solar_panel }}</td>
                    <td>{{ char.horizontal_position }}</td>
                    <td>{{ char.vertical_position }}</td>
                    <td>{{ char.consumed_power }}</td>
                    <td>{{ char.generated_power }}</td>
                    <td>{{ char.date }}</td>
                    <td>{{ char.time }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">Нет данных</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Пагинация -->
    <div class="pagination">
        <span class="step-links">
            {% if characteristics.has_next %}

            <form action="" method="get">
                    <button type="submit" name="page" value="{{ characteristics.next_page_number }}">Следующая</button>
            </form>
            {% endif %}
            {% if characteristics.has_previous %}
                <form action="" method="get">
                    <button type="submit" name="page" value="1">&laquo; Первая</button>
                    <button type="submit" name="page" value="{{ characteristics.previous_page_number }}">Предыдущая</button>
                </form>
            {% endif %}
            
            <span class="current">
                Страница {{ characteristics.number }} из {{ characteristics.paginator.num_pages }}
            </span>               
        </span>
        <div>
        {% if characteristics.has_next %}
        <button type="submit" name="page" value="{{ characteristics.paginator.num_pages }}">Последняя &raquo;</button>
        {% endif %}
        </div>
    </div>
    <!-- Фильтр установок -->
    <select class="table-filter" id="solarPanelFilter">
        <option value="">Все установки</option>
        {% for panel in solar_panels %}
            <option value="{{ panel.id }}">{{ panel.id }}</option>
        {% endfor %}
    </select>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const filterSelect = document.getElementById('solarPanelFilter');
        const tableRows = document.querySelectorAll('.content-table tbody tr');
        const urlParams = new URLSearchParams(window.location.search);
        const panelIdFromUrl = urlParams.get('panel_id');

        // Устанавливаем panel_id как выбранное значение, если оно есть
        filterSelect.value = panelIdFromUrl ? panelIdFromUrl : "";

        // Функция для фильтрации строк таблицы
        function filterTable(selectedValue) {
            tableRows.forEach(row => {
                const cellValue = row.cells[0].textContent.trim();
                if (selectedValue === "" || cellValue === selectedValue) {
                    row.style.display = ''; // показываем строку
                } else {
                    row.style.display = 'none'; // скрываем строку
                }
            });
        }

        // Применяем фильтрацию сразу при загрузке страницы
        filterTable(filterSelect.value);

        // Обработчик событий для фильтра при изменении
        filterSelect.addEventListener('change', function() {
            filterTable(this.value);
        });
    });
</script>



{% endblock %}
