/* Стиль боковой панели */
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333; /* Изменим цвет фона */
  z-index: 100;
  padding: 20px; /* Добавим отступы для контента в боковой панели */
  transition: transform 0.3s; /* Добавим анимацию с использованием transform */
  overflow-y: auto; /* Позволим прокручивать боковую панель, если содержимое длинное */
}

/* Стиль для ссылок в навигационном меню */
.nav-link {
  display: block;
  color: #fff; /* Изменим цвет текста на белый */
  text-decoration: none;
  font-size: 18px; /* Увеличим размер шрифта */
  padding: 10px 0; /* Установим вертикальные отступы */
  transition: background-color 0.2s; /* Добавим анимацию при наведении */
}

.nav-link.active {
  background-color: #555; /* Изменим цвет активной ссылки */
}

.nav-link:hover {
  background-color: #444; /* Изменим цвет при наведении */
}

/* Стиль контейнера и основного содержимого */
.container {
  display: flex;
  height: 100%;
}

main {
  flex: 1;
  padding: 20px;
  margin-left: 20%;
}

aside {
  width: 250px;
  background-color: #333; /* Изменим цвет фона боковой панели */
  color: #fff; /* Изменим цвет текста на белый */
  padding: 20px; /* Добавим отступы для контента */
  transition: width 0.3s; /* Добавим анимацию при изменении ширины */
}

/* Медиазапрос для мобильных устройств */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Изменение макета на мобильных устройствах */
  }

  aside {
    width: 100%; /* Боковая панель займет всю ширину на мобильных устройствах */
  }

  .sidebar {
    transform: translateX(-250px); /* Скроем боковую панель за пределы экрана */
  }

  .nav-link {
    font-size: 16px; /* Уменьшим размер шрифта на мобильных устройствах */
  }
}
