.sidebar {
  width: 250px;
  position: fixed;
  top: 28px;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 100;
}

/* Список навигации */

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.nav-link {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.nav-link.active {
  border: 2px solid #ccc;
}

.nav-link:hover {
  color: #000;
  background-color: #eee;
}

.container {
  display: flex;
}

main {
  flex: 1;
  padding: 20px;
  margin-right: 20px;
}

aside {
  width: 500px; /* Устанавливайте желаемую ширину для вашей боковой панели */
  background-color: #f2f2f2;
}