body {
    background: #2c2c2c
}

aside {
    text-decoration: none;
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5 px solid #4d4d4d;

}

aside img{
    float: left;
    width: 80px;
}

aside .logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top:-5px;
}

aside h3 {
    font-size: 28px;
    margin-top: 50px;
}

aside ul { list-style: none }
aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .5s ease;
 }

 aside ul li:hover, aside ul a:hover{
    color: #1397d5;
    text-decoration: none;
    transform: scale(1.05);
 }

 main .features {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
 }

main .features h1 { font-size:50px; }
main .features p {max-width: 400px; margin: 20 px auto;}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
  color: #fff;
}

table th {
  background-color: #333;
}